### 1. Install Library

In [1]:
# %pip install pandas-gbq google-cloud-bigquery
# %pip install pandas-gbq google-auth google-auth-oauthlib

### 2. Import Library

In [2]:
import pandas as pd
import numpy as np

import mysql.connector

from google.oauth2 import service_account
from google.cloud import bigquery
import pandas_gbq
from pandas_gbq import to_gbq

import os
from dotenv import load_dotenv

### 3. Database Configuration

In [3]:
# Load konfigurasi dari .env
load_dotenv()

# MySQL configurations
rds_host = os.getenv('RDS_HOST')
rds_dbname = os.getenv('RDS_DBNAME')
rds_user = os.getenv('RDS_USER')
rds_password = os.getenv('RDS_PASSWORD')

# Google Cloud configurations
project_id = os.getenv('GOOGLE_CLOUD_PROJECT_ID')
dataset_id = os.getenv('GOOGLE_CLOUD_DATASET_ID')
google_application_credentials = os.getenv('GOOGLE_APPLICATION_CREDENTIALS')

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = google_application_credentials

# Koneksi ke MySQL di Amazon RDS
conn_rds = mysql.connector.connect(
    host=rds_host,
    database=rds_dbname,
    user=rds_user,
    password=rds_password
)

### 4. Extract

#### table_to_df function below is used to extract data from a table and convert it into a dataframe

In [4]:
def table_to_df(table_name):
   query = f"SELECT * FROM {table_name}"
   df = pd.read_sql_query(query, conn_rds)
   return df

#### 4.1 Converting data from tables to dataframes

In [5]:
destinations_df = table_to_df('destinations')
routes_df = table_to_df('routes')
route_details_df = table_to_df('route_details')
users_df = table_to_df('users')

C:\Users\MATRIX COMPUTER\AppData\Local\Temp\ipykernel_17808\1223067120.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn_rds)

#### 4.2 destinations dataframe

In [6]:
destinations_df

,id,category_id,name,description,open_time,close_time,entry_price,longitude,latitude,visit_count,created_at,updated_at,deleted_at
0,00319825-e81b-4a93-bf9a-eef836ccf6ce,eb77b590-b255-4ea1-b11a-d445a259ac62,Keraton Kasunanan Surakarta,Keraton Kasunanan Surakarta adalah istana resm...,9:00,14:00,20000.0,110.827903,-7.577736,290,2024-06-11 08:28:33,2024-06-15 16:22:11,NaT
1,005e32da-f5fb-405c-9772-f6424c011fac,eb77b590-b255-4ea1-b11a-d445a259ac62,Desa Wisata Kasongan,Desa yang terkenal dengan kerajinan gerabah da...,8:00,17:00,0.0,110.337978,-7.845291,243,2024-06-11 08:28:27,2024-06-13 13:00:10,NaT
2,01b8da3a-3987-4976-9ae7-46d6b8eacee5,eb77b590-b255-4ea1-b11a-d445a259ac62,Saung Angklung Udjo,Saung Angklung Udjo adalah pusat Seni dan Buda...,8:00,17:00,120000.0,107.654684,-6.897701,202,2024-06-11 08:28:33,2024-06-15 14:47:11,NaT
3,01ccaac9-97fe-42e1-8034-bc0c02471692,eb77b590-b255-4ea1-b11a-d445a259ac62,Museum Etnografi Sendawar,Museum Etnografi Sendawar merupakan museum per...,9:00,18:00,5000.0,115.701909,-0.232651,134,2024-06-11 08:28:20,2024-06-13 16:58:21,NaT
4,02834099-7ce7-44b9-8b27-e4db38f062bd,eb77b590-b255-4ea1-b11a-d445a259ac61,Danau Limboto,"Danau ini terletak di Kecamatan Limboto, tepat...",0:00,23:59,0.0,123.007543,0.577025,219,2024-06-11 08:28:21,2024-06-15 14:26:21,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,fbee819e-2b7b-44fe-8d5a-74dd345cea0e,eb77b590-b255-4ea1-b11a-d445a259ac61,Danau Tahai,Di kawasan objek wisata Danau Tahai ini terdap...,0:00,23:59,0.0,113.783202,-2.027312,136,2024-06-11 08:28:19,2024-06-11 08:28:19,NaT
324,fc780065-0848-467b-9625-9c24ecd2e9c2,eb77b590-b255-4ea1-b11a-d445a259ac61,Pantai Maaf,Pantai Maaf menawarkan perairan yang damai den...,6:00,18:00,10000.0,135.496749,-3.360245,163,2024-06-11 08:28:32,2024-06-11 08:28:32,NaT
325,fde8748a-2ec0-4211-89e5-12f3d63db81b,eb77b590-b255-4ea1-b11a-d445a259ac61,Piaynemo Raja Ampat,Piaynemo adalah salah satu ikon wisata di Raja...,10:00,17:00,150000.0,130.270813,-0.564206,123,2024-06-11 08:28:32,2024-06-11 08:28:32,NaT
326,fe1ebfe5-365f-4893-aa36-91e380bb2011,eb77b590-b255-4ea1-b11a-d445a259ac61,Wisata Pantai Gedo,Wisata Pantai Gedo adalah destinasi pantai ind...,6:00,18:00,15000.0,135.546550,-3.309413,299,2024-06-11 08:28:32,2024-06-11 08:28:32,NaT
327,ff779270-ee68-46cc-929c-cdd67d328772,eb77b590-b255-4ea1-b11a-d445a259ac61,Danau Emfote,Danau Emfote adalah salah satu destinasi alam ...,0:00,23:59,20000.0,140.539693,-2.660878,207,2024-06-11 08:28:30,2024-06-11 08:28:30,NaT

#### 4.3 routes dataframe

In [7]:
routes_df

,id,user_id,city_id,name,start_location,start_longitude,start_latitude,price,created_at,updated_at,deleted_at
0,0308d6d2-d28b-42d0-ad28-e64fd96bb2fd,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 12,Hotel 12,12.01,12.01,100000.0,2024-06-14 04:23:55,2024-06-15 12:31:29,2024-06-15 12:31:29.163
1,12d9132d-487f-456c-8903-583969dc6a3b,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 11,Hotel 11,12.01,12.01,100000.0,2024-06-14 04:23:55,2024-06-15 12:31:52,2024-06-15 12:31:52.439
2,179665db-dfba-4d10-8371-29d2ce169cc2,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 0,Hotel 0,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:34:47,2024-06-15 12:34:47.553
3,2c1fe7b4-9074-4729-afe7-4b474d6b274d,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 9,Hotel 9,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:36:43,2024-06-15 12:36:43.236
4,2d128871-2825-4e44-90dc-92567df931f3,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 4,Hotel 4,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:41:55,2024-06-15 12:41:55.165
5,3e9009a5-8edd-421f-9c2c-0740bfde93f8,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 13,Hotel 13,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-14 10:30:23,NaT
6,3fbff38a-5e74-48a7-bad1-65fc58035436,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 2,Hotel 2,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:48:16,2024-06-15 12:48:16.256
7,cdf5c8ef-0401-4e31-926a-c102b88ea1f9,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 6,Hotel 6,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:48:17,2024-06-15 12:48:17.615
8,da386bd6-e1b7-4129-b3a6-e75d24594c1a,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 3,Hotel 3,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:48:16,2024-06-15 12:48:16.261
9,e32f9896-3cd7-423b-8f36-0df92f4dcde4,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 5,Hotel 5,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-14 10:30:23,NaT
10,e55eac90-521d-4cc5-879a-d208870f0275,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 10,Hotel 10,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:48:17,2024-06-15 12:48:17.308
11,ed23be94-c0c5-40bf-a017-2ee831ab919e,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 7,Hotel 7,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:48:16,2024-06-15 12:48:16.051
12,ef234ca4-f0d4-4ee1-a7ae-1199f72a2d7f,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 1,Hotel 1,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:48:16,2024-06-15 12:48:16.687
13,f1d60ba6-e689-4041-a11c-1a5a8cf0c793,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 8,Hotel 8,12.01,12.01,100000.0,2024-06-14 10:30:23,2024-06-15 12:51:40,2024-06-15 12:51:40.052
14,f8fad44d-e5b1-4a3b-939e-1955bf9f7c67,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,6571,Route ke 14,Hotel 14,12.01,12.01,100000.0,2024-06-14 04:23:55,2024-06-14 20:08:56,2024-06-14 20:08:56.043

#### 4.4 route_details dataframe

In [8]:
route_details_df

,id,destination_id,route_id,longitude,latitude,duration,order,visit_start,visit_end,created_at,updated_at,deleted_at
0,0fd4b579-711a-4811-a8ec-0fcefe43504e,427f1b85-ff48-4116-8b11-288c764351ca,e32f9896-3cd7-423b-8f36-0df92f4dcde4,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-14 10:30:23,NaT
1,3edc771b-a2fc-485d-9462-501b6dad15c3,427f1b85-ff48-4116-8b11-288c764351ca,e55eac90-521d-4cc5-879a-d208870f0275,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:48:17,2024-06-15 12:48:17.311
2,43025319-7917-4bd9-8a6a-bf94fbccb2f0,427f1b85-ff48-4116-8b11-288c764351ca,3e9009a5-8edd-421f-9c2c-0740bfde93f8,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-14 10:30:24,NaT
3,457ad80a-f4ff-48cd-9dfb-d8220612ec33,427f1b85-ff48-4116-8b11-288c764351ca,2c1fe7b4-9074-4729-afe7-4b474d6b274d,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:36:43,2024-06-15 12:36:43.238
4,4706fb68-cd5c-4254-9d42-a29376a8b8c0,427f1b85-ff48-4116-8b11-288c764351ca,2d128871-2825-4e44-90dc-92567df931f3,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:41:55,2024-06-15 12:41:55.167
5,57ba59a7-f151-4a4f-b1ea-60ba9c464944,427f1b85-ff48-4116-8b11-288c764351ca,ef234ca4-f0d4-4ee1-a7ae-1199f72a2d7f,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:48:16,2024-06-15 12:48:16.689
6,92b83aa1-a21c-4aae-9c05-db37202bc473,427f1b85-ff48-4116-8b11-288c764351ca,179665db-dfba-4d10-8371-29d2ce169cc2,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:34:47,2024-06-15 12:34:47.555
7,9bc4a709-4806-46d1-a994-31cc5615e56c,427f1b85-ff48-4116-8b11-288c764351ca,0308d6d2-d28b-42d0-ad28-e64fd96bb2fd,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 04:23:55,2024-06-15 12:31:29,2024-06-15 12:31:29.168
8,b5633440-68b7-4384-acf6-8b0e6dd48164,427f1b85-ff48-4116-8b11-288c764351ca,da386bd6-e1b7-4129-b3a6-e75d24594c1a,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:48:16,2024-06-15 12:48:16.263
9,d37a5542-0300-4027-b006-4e28d04f4205,427f1b85-ff48-4116-8b11-288c764351ca,f1d60ba6-e689-4041-a11c-1a5a8cf0c793,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:51:40,2024-06-15 12:51:40.057
10,d4f67fdc-0f83-412a-8a3d-29d806de3b20,427f1b85-ff48-4116-8b11-288c764351ca,3fbff38a-5e74-48a7-bad1-65fc58035436,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:48:16,2024-06-15 12:48:16.259
11,dbfe7fcd-b57f-4a03-b448-f875b0f300b9,427f1b85-ff48-4116-8b11-288c764351ca,12d9132d-487f-456c-8903-583969dc6a3b,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 04:23:55,2024-06-15 12:31:52,2024-06-15 12:31:52.441
12,e95d3985-3508-4405-a6d7-9e9d5106b0a6,427f1b85-ff48-4116-8b11-288c764351ca,ed23be94-c0c5-40bf-a017-2ee831ab919e,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:48:16,2024-06-15 12:48:16.053
13,f4807627-2a0f-4510-b6be-99d9765db504,427f1b85-ff48-4116-8b11-288c764351ca,cdf5c8ef-0401-4e31-926a-c102b88ea1f9,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 10:30:23,2024-06-15 12:48:17,2024-06-15 12:48:17.617
14,f4f9cfed-0a58-4cf9-b29d-fcdf9716a126,427f1b85-ff48-4116-8b11-288c764351ca,f8fad44d-e5b1-4a3b-939e-1955bf9f7c67,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00,2024-06-14 04:23:55,2024-06-14 20:08:56,2024-06-14 20:08:56.051

#### 4.5 users dataframe

In [9]:
users_df

,id,email,password,username,fullname,bio,phone_number,profile_image_url,gender,city,email_verified_at,created_at,updated_at,deleted_at,province,refresh_token
0,00862788-5ded-4065-8275-2569748f64aa,xifihi49190@huleos.com,$2a$10$X4GUlWtLjn/8M2cT7mOm/eD2nicI91W3mqm3mEI...,testverify10,John Doe,,081234567891,,,,NaT,2024-05-27 15:26:01.704,2024-05-27 15:26:01.704,2024-06-14 09:16:42.952,,None
1,00bddbb8-8e7d-46ab-acfc-aab981c1ada1,irsyadyazidsyafiq@gmail.com,$2a$10$HcMceoyuqQLLmjNKny2peOLz.pxxT563Mua2u1n...,yazid.syafiq,Yazid Syafiq Irsyad,Manusia Biasa Aja,081393984849,,Pria,,2024-05-31 11:59:19.353,2024-05-31 11:58:43.404,2024-06-15 14:25:36.089,NaT,,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
2,03d7240b-3e9b-4105-ac93-a926b752bb81,shuuuuuuu@example.com,$2a$10$NvsLJLtnk.IW7gdbkOwK8Ob7uuAADw4o53ctlZW...,paimon,nama_lengkap,bio,081234567890,img.jpg,pria,Jaksel,NaT,2024-05-28 06:43:29.804,2024-06-05 14:44:35.107,NaT,Jakarta,
3,0483c5ae-046a-403a-a656-db920635396b,johndoe2345@example.com,$2a$10$Dxg27rgrHy1bZPiD0jNI8uInxr/duxnf3QEH8IS...,johndoe2443,John Doe,,081234567891,,,,NaT,2024-05-25 15:12:44.106,2024-05-25 15:12:44.106,2024-06-05 14:46:44.405,None,None
4,05d6e970-851b-4a8d-8869-587ebe5273cd,ulfiizza@gmail.com,$2a$10$PcldSAzZwvZJecyKpa4WOu3AoaSXQnYpJ/5ujY3...,ulfi,ulfi izza,,089123456789,https://res.cloudinary.com/alta-minpro/image/u...,Perempuan,malang,NaT,2024-06-13 03:35:00.083,2024-06-16 07:39:34.906,NaT,jawa timur,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,f920fdbb-0250-4c93-9556-47e3bab0e337,bikiko364312@huleos.com,$2a$10$.FKubUMci00v1frZk5.q9e.R74d4v4mlTG.6V/v...,testverify4,John Doe,,081234567891,,,,NaT,2024-05-27 14:11:13.805,2024-05-27 14:11:13.805,NaT,,None
119,fa95b90d-41a8-44fe-aea8-e3b1553532c8,puterisalsaa8@gmail.com,$2a$10$fkklkqERHa.hDRZxlPHhp.dzWPhwSchFLKzC4y0...,inisalsa,Salsa Maulidina,,08115122238,None,,,2024-06-10 12:12:21.233,2024-06-10 12:11:56.116,2024-06-10 12:12:23.104,NaT,,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
120,fc9e86d9-e3ba-42eb-a46c-16ba07dfeb74,tajoli5069@javnoi.com,$2a$10$D5rUZTz5z2SkdRJMeogJLODp2Xp9kHSLTVtNTrC...,testverfiy25,Test Verify,,08123456789,,,,2024-05-28 07:16:51.573,2024-05-28 07:16:28.803,2024-05-28 07:16:51.576,NaT,,None
121,fd13566c-bd12-4088-8537-2a52dbdca23b,Nausicaa5@example.com,$2a$10$mR0l7hjnGtU6PF9V1LHTFerCZXqK.w7vBy.M.h0...,Nausicaa5,John Doe,,081234567891,None,,,NaT,2024-06-12 07:00:16.507,2024-06-12 07:00:16.507,NaT,,
122,fd84765b-865a-4c9b-9cc5-93ca3836e6de,zerenitymods01@gmail.com,$2a$10$/lQPZ5g99QUv/TiK20NenOQFCBKEFaiVFMqX5eN...,rayhan,rayhanqr,,0895320511122,None,,,2024-06-16 09:23:46.538,2024-06-16 09:21:23.905,2024-06-16 09:23:49.107,NaT,,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...

#### 4.6 Closing connection

In [10]:
conn_rds.close()

### 5. Transformation

#### 5.1 Selecting subsets of each dataframe

In [11]:
users_df['tahun'] = users_df['created_at'].dt.year
users_df['bulan'] = users_df['created_at'].dt.month
users_df['tanggal'] = users_df['created_at'].dt.day
users_df['tanggallengkap'] = pd.to_datetime(users_df['created_at'].dt.date)

dim_destinations = destinations_df[['id', 'name', 'description', 'open_time', 'close_time', 'entry_price', 'longitude', 'latitude', 'visit_count']]
dim_routes = routes_df[['id', 'name', 'start_longitude', 'start_latitude', 'price']]
dim_route_details = route_details_df[['id', 'longitude', 'latitude', 'duration', 'order', 'visit_start', 'visit_end']]
dim_users = users_df[['id', 'email', 'username', 'fullname', 'phone_number', 'gender', 'city', 'province', 'tahun', 'bulan', 'tanggal', 'tanggallengkap']]

#### 5.2 destinations dimension

In [12]:
dim_destinations

,id,name,description,open_time,close_time,entry_price,longitude,latitude,visit_count
0,00319825-e81b-4a93-bf9a-eef836ccf6ce,Keraton Kasunanan Surakarta,Keraton Kasunanan Surakarta adalah istana resm...,9:00,14:00,20000.0,110.827903,-7.577736,290
1,005e32da-f5fb-405c-9772-f6424c011fac,Desa Wisata Kasongan,Desa yang terkenal dengan kerajinan gerabah da...,8:00,17:00,0.0,110.337978,-7.845291,243
2,01b8da3a-3987-4976-9ae7-46d6b8eacee5,Saung Angklung Udjo,Saung Angklung Udjo adalah pusat Seni dan Buda...,8:00,17:00,120000.0,107.654684,-6.897701,202
3,01ccaac9-97fe-42e1-8034-bc0c02471692,Museum Etnografi Sendawar,Museum Etnografi Sendawar merupakan museum per...,9:00,18:00,5000.0,115.701909,-0.232651,134
4,02834099-7ce7-44b9-8b27-e4db38f062bd,Danau Limboto,"Danau ini terletak di Kecamatan Limboto, tepat...",0:00,23:59,0.0,123.007543,0.577025,219
...,...,...,...,...,...,...,...,...,...
323,fbee819e-2b7b-44fe-8d5a-74dd345cea0e,Danau Tahai,Di kawasan objek wisata Danau Tahai ini terdap...,0:00,23:59,0.0,113.783202,-2.027312,136
324,fc780065-0848-467b-9625-9c24ecd2e9c2,Pantai Maaf,Pantai Maaf menawarkan perairan yang damai den...,6:00,18:00,10000.0,135.496749,-3.360245,163
325,fde8748a-2ec0-4211-89e5-12f3d63db81b,Piaynemo Raja Ampat,Piaynemo adalah salah satu ikon wisata di Raja...,10:00,17:00,150000.0,130.270813,-0.564206,123
326,fe1ebfe5-365f-4893-aa36-91e380bb2011,Wisata Pantai Gedo,Wisata Pantai Gedo adalah destinasi pantai ind...,6:00,18:00,15000.0,135.546550,-3.309413,299
327,ff779270-ee68-46cc-929c-cdd67d328772,Danau Emfote,Danau Emfote adalah salah satu destinasi alam ...,0:00,23:59,20000.0,140.539693,-2.660878,207

#### 5.3 routes dimension

In [13]:
dim_routes

,id,name,start_longitude,start_latitude,price
0,0308d6d2-d28b-42d0-ad28-e64fd96bb2fd,Route ke 12,12.01,12.01,100000.0
1,12d9132d-487f-456c-8903-583969dc6a3b,Route ke 11,12.01,12.01,100000.0
2,179665db-dfba-4d10-8371-29d2ce169cc2,Route ke 0,12.01,12.01,100000.0
3,2c1fe7b4-9074-4729-afe7-4b474d6b274d,Route ke 9,12.01,12.01,100000.0
4,2d128871-2825-4e44-90dc-92567df931f3,Route ke 4,12.01,12.01,100000.0
5,3e9009a5-8edd-421f-9c2c-0740bfde93f8,Route ke 13,12.01,12.01,100000.0
6,3fbff38a-5e74-48a7-bad1-65fc58035436,Route ke 2,12.01,12.01,100000.0
7,cdf5c8ef-0401-4e31-926a-c102b88ea1f9,Route ke 6,12.01,12.01,100000.0
8,da386bd6-e1b7-4129-b3a6-e75d24594c1a,Route ke 3,12.01,12.01,100000.0
9,e32f9896-3cd7-423b-8f36-0df92f4dcde4,Route ke 5,12.01,12.01,100000.0
10,e55eac90-521d-4cc5-879a-d208870f0275,Route ke 10,12.01,12.01,100000.0
11,ed23be94-c0c5-40bf-a017-2ee831ab919e,Route ke 7,12.01,12.01,100000.0
12,ef234ca4-f0d4-4ee1-a7ae-1199f72a2d7f,Route ke 1,12.01,12.01,100000.0
13,f1d60ba6-e689-4041-a11c-1a5a8cf0c793,Route ke 8,12.01,12.01,100000.0
14,f8fad44d-e5b1-4a3b-939e-1955bf9f7c67,Route ke 14,12.01,12.01,100000.0

#### 5.4 route_details dimension

In [14]:
dim_route_details['visit_start'] = dim_route_details['visit_start'].astype(str)
dim_route_details['visit_end'] = dim_route_details['visit_end'].astype(str)
dim_route_details

C:\Users\MATRIX COMPUTER\AppData\Local\Temp\ipykernel_17808\476546220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_route_details['visit_start'] = dim_route_details['visit_start'].astype(str)
C:\Users\MATRIX COMPUTER\AppData\Local\Temp\ipykernel_17808\476546220.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_route_details['visit_end'] = dim_route_details['visit_end'].astype(str)

,id,longitude,latitude,duration,order,visit_start,visit_end
0,0fd4b579-711a-4811-a8ec-0fcefe43504e,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
1,3edc771b-a2fc-485d-9462-501b6dad15c3,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
2,43025319-7917-4bd9-8a6a-bf94fbccb2f0,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
3,457ad80a-f4ff-48cd-9dfb-d8220612ec33,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
4,4706fb68-cd5c-4254-9d42-a29376a8b8c0,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
5,57ba59a7-f151-4a4f-b1ea-60ba9c464944,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
6,92b83aa1-a21c-4aae-9c05-db37202bc473,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
7,9bc4a709-4806-46d1-a994-31cc5615e56c,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
8,b5633440-68b7-4384-acf6-8b0e6dd48164,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
9,d37a5542-0300-4027-b006-4e28d04f4205,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
10,d4f67fdc-0f83-412a-8a3d-29d806de3b20,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
11,dbfe7fcd-b57f-4a03-b448-f875b0f300b9,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
12,e95d3985-3508-4405-a6d7-9e9d5106b0a6,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
13,f4807627-2a0f-4510-b6be-99d9765db504,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00
14,f4f9cfed-0a58-4cf9-b29d-fcdf9716a126,117.661019,3.306641,60,1,0 days 08:00:00,0 days 09:00:00

#### 5.5 users dimension

In [15]:
dim_users

,id,email,username,fullname,phone_number,gender,city,province,tahun,bulan,tanggal,tanggallengkap
0,00862788-5ded-4065-8275-2569748f64aa,xifihi49190@huleos.com,testverify10,John Doe,081234567891,,,,2024,5,27,2024-05-27
1,00bddbb8-8e7d-46ab-acfc-aab981c1ada1,irsyadyazidsyafiq@gmail.com,yazid.syafiq,Yazid Syafiq Irsyad,081393984849,Pria,,,2024,5,31,2024-05-31
2,03d7240b-3e9b-4105-ac93-a926b752bb81,shuuuuuuu@example.com,paimon,nama_lengkap,081234567890,pria,Jaksel,Jakarta,2024,5,28,2024-05-28
3,0483c5ae-046a-403a-a656-db920635396b,johndoe2345@example.com,johndoe2443,John Doe,081234567891,,,None,2024,5,25,2024-05-25
4,05d6e970-851b-4a8d-8869-587ebe5273cd,ulfiizza@gmail.com,ulfi,ulfi izza,089123456789,Perempuan,malang,jawa timur,2024,6,13,2024-06-13
...,...,...,...,...,...,...,...,...,...,...,...,...
118,f920fdbb-0250-4c93-9556-47e3bab0e337,bikiko364312@huleos.com,testverify4,John Doe,081234567891,,,,2024,5,27,2024-05-27
119,fa95b90d-41a8-44fe-aea8-e3b1553532c8,puterisalsaa8@gmail.com,inisalsa,Salsa Maulidina,08115122238,,,,2024,6,10,2024-06-10
120,fc9e86d9-e3ba-42eb-a46c-16ba07dfeb74,tajoli5069@javnoi.com,testverfiy25,Test Verify,08123456789,,,,2024,5,28,2024-05-28
121,fd13566c-bd12-4088-8537-2a52dbdca23b,Nausicaa5@example.com,Nausicaa5,John Doe,081234567891,,,,2024,6,12,2024-06-12
122,fd84765b-865a-4c9b-9cc5-93ca3836e6de,zerenitymods01@gmail.com,rayhan,rayhanqr,0895320511122,,,,2024,6,16,2024-06-16

#### 5.6 routes_fact

In [16]:
# merging dataframes
merged_df = pd.merge(routes_df, route_details_df, left_on='id', right_on='route_id', suffixes=('_routes', '_route_details'))
merged_df = pd.merge(merged_df, users_df, left_on='user_id', right_on='id', suffixes=('_routes', '_users'))
merged_df = pd.merge(merged_df, destinations_df, left_on='destination_id', right_on='id', suffixes=('_routes_users', '_destinations'))

# selecting subset
routes_fact = merged_df[['id_routes', 'user_id', 'id_route_details', 'id_destinations']]

# renaming some of columns name
routes_fact = routes_fact.rename(columns={"id_routes": "route_id", 
                                          "id_route_details": "route_details_id", 
                                          "id_destinations": "destinations_id"})

# adding user_count and route_count columns
routes_fact['user_count'] = 1
routes_fact['route_count'] = 1

# display the dataframe
routes_fact

,route_id,user_id,route_details_id,destinations_id,user_count,route_count
0,0308d6d2-d28b-42d0-ad28-e64fd96bb2fd,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,9bc4a709-4806-46d1-a994-31cc5615e56c,427f1b85-ff48-4116-8b11-288c764351ca,1,1
1,12d9132d-487f-456c-8903-583969dc6a3b,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,dbfe7fcd-b57f-4a03-b448-f875b0f300b9,427f1b85-ff48-4116-8b11-288c764351ca,1,1
2,179665db-dfba-4d10-8371-29d2ce169cc2,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,92b83aa1-a21c-4aae-9c05-db37202bc473,427f1b85-ff48-4116-8b11-288c764351ca,1,1
3,2c1fe7b4-9074-4729-afe7-4b474d6b274d,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,457ad80a-f4ff-48cd-9dfb-d8220612ec33,427f1b85-ff48-4116-8b11-288c764351ca,1,1
4,2d128871-2825-4e44-90dc-92567df931f3,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,4706fb68-cd5c-4254-9d42-a29376a8b8c0,427f1b85-ff48-4116-8b11-288c764351ca,1,1
5,3e9009a5-8edd-421f-9c2c-0740bfde93f8,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,43025319-7917-4bd9-8a6a-bf94fbccb2f0,427f1b85-ff48-4116-8b11-288c764351ca,1,1
6,3fbff38a-5e74-48a7-bad1-65fc58035436,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,d4f67fdc-0f83-412a-8a3d-29d806de3b20,427f1b85-ff48-4116-8b11-288c764351ca,1,1
7,cdf5c8ef-0401-4e31-926a-c102b88ea1f9,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,f4807627-2a0f-4510-b6be-99d9765db504,427f1b85-ff48-4116-8b11-288c764351ca,1,1
8,da386bd6-e1b7-4129-b3a6-e75d24594c1a,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,b5633440-68b7-4384-acf6-8b0e6dd48164,427f1b85-ff48-4116-8b11-288c764351ca,1,1
9,e32f9896-3cd7-423b-8f36-0df92f4dcde4,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,0fd4b579-711a-4811-a8ec-0fcefe43504e,427f1b85-ff48-4116-8b11-288c764351ca,1,1
10,e55eac90-521d-4cc5-879a-d208870f0275,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,3edc771b-a2fc-485d-9462-501b6dad15c3,427f1b85-ff48-4116-8b11-288c764351ca,1,1
11,ed23be94-c0c5-40bf-a017-2ee831ab919e,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,e95d3985-3508-4405-a6d7-9e9d5106b0a6,427f1b85-ff48-4116-8b11-288c764351ca,1,1
12,ef234ca4-f0d4-4ee1-a7ae-1199f72a2d7f,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,57ba59a7-f151-4a4f-b1ea-60ba9c464944,427f1b85-ff48-4116-8b11-288c764351ca,1,1
13,f1d60ba6-e689-4041-a11c-1a5a8cf0c793,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,d37a5542-0300-4027-b006-4e28d04f4205,427f1b85-ff48-4116-8b11-288c764351ca,1,1
14,f8fad44d-e5b1-4a3b-939e-1955bf9f7c67,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,f4f9cfed-0a58-4cf9-b29d-fcdf9716a126,427f1b85-ff48-4116-8b11-288c764351ca,1,1

### 6. Load

#### load _to_gbq function below is used to load extract data from a dataframe into a table in google big query

In [17]:
def load_to_gbq(credentials, project_id, dataset_id, table_names, dataframes):
   for df, table_name in zip(dataframes, table_names):
      table_full_id = f'{project_id}.{dataset_id}.{table_name}'
      to_gbq(df, table_full_id, project_id=project_id, if_exists='replace', credentials=credentials)
      print(f'Table {table_name} loaded successfully!')

#### 6.1 Load to Big Query

In [18]:
credentials = service_account.Credentials.from_service_account_file(google_application_credentials)

dfs = [dim_destinations, dim_routes, dim_route_details, dim_users, routes_fact]
tables = ['dim_destinations', 'dim_routes', 'dim_route_details', 'dim_users', 'routes_fact']

load_to_gbq(credentials, project_id, dataset_id, tables, dfs)

100%|██████████| 1/1 [00:00<?, ?it/s]

Table dim_destinations loaded successfully!

100%|██████████| 1/1 [00:00<?, ?it/s]

Table dim_routes loaded successfully!

100%|██████████| 1/1 [00:00<?, ?it/s]

Table dim_route_details loaded successfully!

100%|██████████| 1/1 [00:00<?, ?it/s]

Table dim_users loaded successfully!

100%|██████████| 1/1 [00:00<?, ?it/s]

Table routes_fact loaded successfully!