### 1. Install Library

In [1]:
# %pip install pandas mysql-connector-python google-cloud-bigquery

### 2. Import Library

In [2]:
import pandas as pd
import mysql.connector
import sqlite3
import os
from google.cloud import bigquery
from dotenv import load_dotenv

### 3. Konfigurasi ke Database

In [3]:
# Load konfigurasi dari .env
load_dotenv()

# MySQL configurations
rds_host = os.getenv('RDS_HOST')
rds_dbname = os.getenv('RDS_DBNAME')
rds_user = os.getenv('RDS_USER')
rds_password = os.getenv('RDS_PASSWORD')

# Google Cloud configurations
project_id = os.getenv('GOOGLE_CLOUD_PROJECT_ID')
dataset_id = os.getenv('GOOGLE_CLOUD_DATASET_ID')
google_application_credentials = os.getenv('GOOGLE_APPLICATION_CREDENTIALS')

# Set GOOGLE_APPLICATION_CREDENTIALS environment variable
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = google_application_credentials

# Koneksi ke MySQL di Amazon RDS
conn_rds = mysql.connector.connect(
    host=rds_host,
    database=rds_dbname,
    user=rds_user,
    password=rds_password
)

### 4. Extract

In [4]:
# Membuat kursor
cursor = conn_rds.cursor()

# Menjalankan query SQL
query = "SELECT * FROM destinations"
cursor.execute(query)

# Mendapatkan semua hasil query
result = cursor.fetchall()

# Mendapatkan nama kolom
columns = [col[0] for col in cursor.description]

# Membuat dataframe
df_destinations = pd.DataFrame(result, columns=columns)

# Menampilkan dataframe
df_destinations

,id,category_id,name,description,open_time,close_time,entry_price,longitude,latitude,visit_count,created_at,updated_at,deleted_at
0,306d305e-3359-4884-8d38-89c04e8adea6,eb77b590-b255-4ea1-b11a-d445a259ac62,Kawah Ijen,Kawah Ijen adalah sebuah kompleks gunung berap...,08:00,17:00,100000.00,114.242300,-8.058200,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None
1,306d305e-3359-4884-8d38-89c04e8adec1,eb77b590-b255-4ea1-b11a-d445a259ac61,Candi Borobudur,Candi Borobudur adalah sebuah candi Buddha yan...,08:00,17:00,50000.00,110.203800,-7.607900,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None
2,306d305e-3359-4884-8d38-89c04e8adec2,eb77b590-b255-4ea1-b11a-d445a259ac63,Pantai Kuta,Pantai Kuta adalah salah satu pantai yang terk...,08:00,17:00,0.00,115.167500,-8.717400,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None
3,306d305e-3359-4884-8d38-89c04e8adec3,eb77b590-b255-4ea1-b11a-d445a259ac63,Danau Toba,Danau Toba adalah danau terbesar di Indonesia ...,08:00,17:00,0.00,99.085200,2.669600,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None
4,306d305e-3359-4884-8d38-89c04e8adec4,eb77b590-b255-4ea1-b11a-d445a259ac62,Taman Mini Indonesia Indah,Taman Mini Indonesia Indah adalah sebuah taman...,08:00,17:00,20000.00,106.895600,-6.302700,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None
5,306d305e-3359-4884-8d38-89c04e8adec5,eb77b590-b255-4ea1-b11a-d445a259ac63,Gunung Bromo,Gunung Bromo adalah sebuah gunung berapi aktif...,08:00,17:00,30000.00,112.952800,-7.942500,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None
6,306d305e-3359-4884-8d38-89c04e8adec6,eb77b590-b255-4ea1-b11a-d445a259ac63,Goa Pindul,Gua tempat Joko terbentur tersebut dinamai Gua...,08:00,17:00,25000.00,123.456000,456.789000,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None
7,306d305e-3359-4884-8d38-89c04e8adec7,eb77b590-b255-4ea1-b11a-d445a259ac61,Pulau Komodo,Pulau Komodo adalah sebuah pulau yang terletak...,08:00,17:00,150000.00,119.498600,-8.583300,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None
8,306d305e-3359-4884-8d38-89c04e8adec8,eb77b590-b255-4ea1-b11a-d445a259ac63,Raja Ampat,Raja Ampat adalah kepulauan yang terletak di b...,08:00,17:00,500000.00,130.503600,-1.056200,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None
9,306d305e-3359-4884-8d38-89c04e8adec9,eb77b590-b255-4ea1-b11a-d445a259ac63,Tanah Lot,Tanah Lot adalah sebuah formasi batuan di lepa...,08:00,17:00,20000.00,115.086500,-8.621100,0,2024-06-06 04:16:33,2024-06-06 04:16:33,None

In [5]:
# Menutup koneksi
conn_rds.close()

### 5. Transformation

### 6. Load to Big Query