### 1. Install Library

In [1]:
# %pip install pandas-gbq google-cloud-bigquery
# %pip install pandas-gbq google-auth google-auth-oauthlib

### 2. Import Library

In [2]:
import pandas as pd
import numpy as np

import mysql.connector

from google.oauth2 import service_account
from google.cloud import bigquery
import pandas_gbq
from pandas_gbq import to_gbq

import os
from dotenv import load_dotenv

### 3. Database Configuration

In [3]:
# Load konfigurasi dari .env
load_dotenv()

# MySQL configurations
rds_host = os.getenv('RDS_HOST')
rds_dbname = os.getenv('RDS_DBNAME')
rds_user = os.getenv('RDS_USER')
rds_password = os.getenv('RDS_PASSWORD')

# Google Cloud configurations
project_id = os.getenv('GOOGLE_CLOUD_PROJECT_ID')
dataset_id = os.getenv('GOOGLE_CLOUD_DATASET_ID')
google_application_credentials = os.getenv('GOOGLE_APPLICATION_CREDENTIALS')

# Set GOOGLE_APPLICATION_CREDENTIALS environment variable
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = google_application_credentials

# Koneksi ke MySQL di Amazon RDS
conn_rds = mysql.connector.connect(
    host=rds_host,
    database=rds_dbname,
    user=rds_user,
    password=rds_password
)

### 4. Extract

#### table_to_df function below is used to extract data from a table and convert it into a dataframe

In [4]:
def table_to_df(table_name):
   query = f"SELECT * FROM {table_name}"
   df = pd.read_sql_query(query, conn_rds)
   return df

#### 4.1 Converting data from tables to dataframes

In [5]:
destinations_df = table_to_df('destinations')
routes_df = table_to_df('routes')
route_details_df = table_to_df('route_details')
users_df = table_to_df('users')

C:\Users\MATRIX COMPUTER\AppData\Local\Temp\ipykernel_31308\1223067120.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn_rds)

#### 4.2 destinations dataframe

In [6]:
destinations_df

,id,category_id,name,description,open_time,close_time,entry_price,longitude,latitude,visit_count,created_at,updated_at,deleted_at
0,306d305e-3359-4884-8d38-89c04e8adea6,eb77b590-b255-4ea1-b11a-d445a259ac61,Kawah Ijen,Kawah Ijen adalah sebuah kompleks gunung berap...,08:00,17:00,100000.0,114.2423,-8.0582,23,2024-06-07 07:47:59,2024-06-10 08:05:22,None
1,306d305e-3359-4884-8d38-89c04e8adec1,eb77b590-b255-4ea1-b11a-d445a259ac62,Candi Borobudur,Candi Borobudur adalah sebuah candi Buddha yan...,08:00,17:00,50000.0,110.2038,-7.6079,4,2024-06-07 07:47:59,2024-06-10 08:05:24,None
2,306d305e-3359-4884-8d38-89c04e8adec2,eb77b590-b255-4ea1-b11a-d445a259ac61,Pantai Kuta,Pantai Kuta adalah salah satu pantai yang terk...,08:00,17:00,0.0,115.1675,-8.7174,1,2024-06-07 07:47:59,2024-06-08 15:09:44,None
3,306d305e-3359-4884-8d38-89c04e8adec3,eb77b590-b255-4ea1-b11a-d445a259ac61,Danau Toba,Danau Toba adalah danau terbesar di Indonesia ...,08:00,17:00,0.0,99.0852,2.6696,0,2024-06-07 07:47:59,2024-06-07 07:47:59,None
4,306d305e-3359-4884-8d38-89c04e8adec4,eb77b590-b255-4ea1-b11a-d445a259ac61,Taman Mini Indonesia Indah,Taman Mini Indonesia Indah adalah sebuah taman...,08:00,17:00,20000.0,106.8956,-6.3027,2,2024-06-07 07:47:59,2024-06-08 17:36:51,None
5,306d305e-3359-4884-8d38-89c04e8adec5,eb77b590-b255-4ea1-b11a-d445a259ac62,Gunung Bromo,Gunung Bromo adalah sebuah gunung berapi aktif...,08:00,17:00,30000.0,112.9528,-7.9425,1,2024-06-07 07:47:59,2024-06-10 08:05:30,None
6,306d305e-3359-4884-8d38-89c04e8adec6,eb77b590-b255-4ea1-b11a-d445a259ac61,Goa Pindul,Gua tempat Joko terbentur tersebut dinamai Gua...,08:00,17:00,25000.0,123.4560,456.7890,1,2024-06-07 07:47:59,2024-06-08 15:14:05,None
7,306d305e-3359-4884-8d38-89c04e8adec7,eb77b590-b255-4ea1-b11a-d445a259ac62,Pulau Komodo,Pulau Komodo adalah sebuah pulau yang terletak...,08:00,17:00,150000.0,119.4986,-8.5833,0,2024-06-07 07:47:59,2024-06-07 07:47:59,None
8,306d305e-3359-4884-8d38-89c04e8adec8,eb77b590-b255-4ea1-b11a-d445a259ac61,Raja Ampat,Raja Ampat adalah kepulauan yang terletak di b...,08:00,17:00,500000.0,130.5036,-1.0562,1,2024-06-07 07:47:59,2024-06-08 16:02:56,None
9,306d305e-3359-4884-8d38-89c04e8adec9,eb77b590-b255-4ea1-b11a-d445a259ac61,Tanah Lot,Tanah Lot adalah sebuah formasi batuan di lepa...,08:00,17:00,20000.0,115.0865,-8.6211,0,2024-06-07 07:47:59,2024-06-07 07:47:59,None

#### 4.3 routes dataframe

In [7]:
routes_df

,id,user_id,city_id,name,start_longitude,start_latitude,price,created_at,updated_at,deleted_at
0,4baa63f1-c447-4cd8-bd86-9bb7b178ef54,79b411cd-a0c4-4f63-892c-ee8643707551,1101,Rute 1,3.105625,97.394489,50000.0,2024-06-09 08:04:36,2024-06-09 08:04:36,None
1,e315db1d-f065-4a5d-8219-806a809564ec,79b411cd-a0c4-4f63-892c-ee8643707551,1101,Rute 2,3.105625,97.394489,50000.0,2024-06-09 08:04:36,2024-06-09 08:04:36,None

#### 4.4 route_details dataframe

In [8]:
route_details_df

,id,destination_id,route_id,longitude,latitude,duration,order,visit_start,visit_end,created_at,updated_at,deleted_at
0,179665db-dfba-4d10-8371-29d2ce169cc2,306d305e-3359-4884-8d38-89c04e8adec1,4baa63f1-c447-4cd8-bd86-9bb7b178ef54,114.2423,-8.0582,3600,1,0 days 09:00:00,0 days 11:00:00,2024-06-09 08:11:40,2024-06-09 08:11:40,None
1,bfbe5a9e-8a54-402f-bbc0-9ddce0e78c93,306d305e-3359-4884-8d38-89c04e8adea6,4baa63f1-c447-4cd8-bd86-9bb7b178ef54,114.2423,-8.0582,3600,1,0 days 09:00:00,0 days 11:00:00,2024-06-09 08:11:40,2024-06-09 08:11:40,None
2,dc9b287e-5b99-44e1-ba10-f269474d8d4b,306d305e-3359-4884-8d38-89c04e8adea6,e315db1d-f065-4a5d-8219-806a809564ec,114.2423,-8.0582,3600,1,0 days 09:00:00,0 days 11:00:00,2024-06-09 08:11:40,2024-06-09 08:11:40,None

#### 4.5 users dataframe

In [9]:
users_df

,id,email,password,username,fullname,bio,phone_number,profile_image_url,gender,city,email_verified_at,created_at,updated_at,deleted_at,province,refresh_token
0,00862788-5ded-4065-8275-2569748f64aa,xifihi49190@huleos.com,$2a$10$X4GUlWtLjn/8M2cT7mOm/eD2nicI91W3mqm3mEI...,testverify10,John Doe,,081234567891,,,,NaT,2024-05-27 15:26:01.704,2024-05-27 15:26:01.704,NaT,,None
1,00bddbb8-8e7d-46ab-acfc-aab981c1ada1,irsyadyazidsyafiq@gmail.com,$2a$10$HcMceoyuqQLLmjNKny2peOLz.pxxT563Mua2u1n...,yazid.syafiq,Yazid Syafiq Irsyad,,081393984849,,,,2024-05-31 11:59:19.353,2024-05-31 11:58:43.404,2024-06-10 06:12:29.102,NaT,,
2,03d7240b-3e9b-4105-ac93-a926b752bb81,shuuuuuuu@example.com,$2a$10$NvsLJLtnk.IW7gdbkOwK8Ob7uuAADw4o53ctlZW...,paimon,nama_lengkap,bio,081234567890,img.jpg,pria,Jaksel,NaT,2024-05-28 06:43:29.804,2024-06-05 14:44:35.107,NaT,Jakarta,
3,0483c5ae-046a-403a-a656-db920635396b,johndoe2345@example.com,$2a$10$Dxg27rgrHy1bZPiD0jNI8uInxr/duxnf3QEH8IS...,johndoe2443,John Doe,,081234567891,,,,NaT,2024-05-25 15:12:44.106,2024-05-25 15:12:44.106,2024-06-05 14:46:44.405,None,None
4,083cb941-9a91-4ea4-af6e-5b25384ff00b,johndoe100@example.com,$2a$10$voavmVlJHnNfrfDRqaQ4xuRc7CDj.amd3bShTYS...,johndoe100,John Doe,,081234567891,,,,NaT,2024-05-27 16:06:57.710,2024-05-27 16:06:57.710,NaT,,None
5,0d26d129-ea9d-4a5a-9f0d-ffc968d11dfc,demex95935@cgbird.com,$2a$10$jZ0CV.Ps4fulmU/2rLMkBeZnVGEfRAw0JGMPPtG...,testverify21,John Doe,,08123456790,,,,2024-05-27 16:49:52.892,2024-05-27 16:49:17.606,2024-05-27 16:49:52.894,NaT,,None
6,0ea8bb14-365d-4fd5-b774-868185c67fc5,bikiko364222@huleos.com,$2a$10$01f0ROVxW7QZtJQzH8frv./t5mP2LnzSQwlnlf0...,testverify1,John Doe,,081234567891,,,,NaT,2024-05-27 14:05:18.804,2024-05-27 14:05:18.804,NaT,,None
7,10cdec36-6ed8-45ad-9a47-88438ec1a8ee,xifihi4990@huleos.com,$2a$10$Nym.xZSC.SrOt9tSQumjG.P69qwz/LW.OS7Xljq...,testverify9,John Doe,,081234567891,,,,2024-05-27 15:21:38.251,2024-05-27 15:19:33.409,2024-05-27 15:21:38.254,NaT,,None
8,116c2659-e2c3-4346-adfd-fbf81d90b42f,johndoe16@gmail.com,$2a$10$YGTtxDW2k0QzF3yz7CcNr.S/kWzPx2ztqkYJ0Po...,johndoe16,John Doe,,08129391092,,,,NaT,2024-05-26 18:34:06.604,2024-05-26 18:34:06.604,2024-06-05 14:19:35.472,,None
9,12d34b07-9c0f-4287-92cc-01364f7ac703,,$2a$10$0146zqADfSrhec8TVd.L8O3J5TzuzLSIviiIC7F...,,,,,,,,NaT,2024-06-05 14:02:02.608,2024-06-05 14:39:57.616,NaT,,
10,146b14a5-6b7e-4f3a-80fd-01661074a3ae,johndoe19@example.com,$2a$10$FD6XQYIkryvEjHKAsYoYBOvCTEhqFx/8Z9nIV2S...,johndoe19,John Doe,,081234567891,,,,NaT,2024-05-27 13:43:09.305,2024-05-27 13:43:09.305,2024-06-05 09:53:11.281,,None
11,16c77b92-1cb6-476e-8b58-dbffbb0ec8b9,rafyshahvalorant@gmail.com,$2a$10$rrw5hXjq74QyuBV1y1HZr.TNacTE36ygKK8bVu5...,rafy,Rafy,,08123456789,,,,2024-05-31 11:11:46.791,2024-05-31 11:09:58.504,2024-06-10 08:04:33.903,NaT,,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
12,1854012d-082b-41be-adcd-d0d2371afac0,bikiko164312@huleos.com,$2a$10$Q6MhyAtG/BvYTWusXRKUcOMYrPC6lkx1PlpxAUP...,testverify5,John Doe,,081234567891,,,,NaT,2024-05-27 14:12:30.604,2024-05-27 14:12:30.604,NaT,,None
13,1e673349-e104-4c6c-9605-44beee74e680,jijig89558@javnoi.com,$2a$10$SNwYT7BNm8JEK72uMK2GA.x18/w3wMpZ1QyWfaw...,johndoe12345,John Doe,,08129391092,,,,NaT,2024-05-26 18:05:20.205,2024-05-26 18:05:20.205,NaT,,None
14,210b10f7-32a5-4325-8c41-aa75fd61aa13,aditn689@gmail.com,$2a$10$K4xz7F01n3yJgkt3H/09I.NQeX51c7et.CLFeib...,aditn,adit nugroho,,081234567890,,,,NaT,2024-05-26 06:17:51.816,2024-05-26 06:17:51.816,NaT,None,None
15,222e30dc-c6d9-4abf-8b7c-3a46c2423b8e,testotp@gmail.com,$2a$10$twKa6/YstGNbU5hKnwBoCeZgfrT0WC6hdLixETq...,testotp,testotp,,08123230411,,,,NaT,2024-05-28 07:46:12.606,2024-05-28 07:46:12.606,NaT,,None
16,25ad696d-048c-466a-bf2e-306483104437,xojoce2367@javnoi.com,$2a$10$w7T77RrO1aPGruJGxta2LeHVladF07emc/RWCtQ...,testverify23,John Doe,,08123456789,,,,2024-05-28 06:35:06.406,2024-05-28 05:55:01.005,2024-05-28 06:35:06.408,NaT,,None
17,2909ec57-8bdf-403b-90d4-e1e8a37780fa,disav55623@fincainc.com,$2a$10$w/P48GbgimxnaCvrAN5OxuVi.qbYjzSjl/H3V8i...,testverify7,John Doe,,081234567891,,,,2024-05-27 14:18:29.528,2024-05-27 14:18:10.108,2024-05-27 14:18:29.532,NaT,,None
18,2d8ac410-632f-48c6-92ad-6b342beee1cf,johndoe4@mail.com,$2a$10$5n4wXgPWclYtDRmzjzebrOQecyMCwKiAgOLwria...,johndoe77,John Doe,,081234567891,,,,NaT,2024-05-25 15:11:52.204,2024-05-25 15:11:52.204,NaT,None,None
19,302af063-e535-4bb1-afce-d98e7f180cad,nafidinara@gmail.com,$2a$10$AsaK8K2yGS6dSTP2kAfZeOTDpKbEZ5k2i9pJbMG...,nafidinara,John Doe,,081234567891,,,,NaT,2024-05-26 11:37:16.404,2024-05-26 11:37:16.404,NaT,,None
20,42dbca49-704a-4fb9-bd71-aeb3bff28481,nasipwadang4@gmail.com,$2a$10$ZBo73zgJN.748twmL5jh.OBzUg1BNYJfylmvwn2...,padangan,nasi padanag,,089681754400,None,,,2024-06-08 10:56:18.476,2024-06-08 10:56:02.507,2024-06-08 10:56:21.204,NaT,,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
21,495fe926-2f88-4a30-bb53-5db847fcbea0,johndoe22@example.com,$2a$10$7sVqq4SULbt11iGjtpmBae2FpqxukJM8bTD1xpx...,johndoe20,John Doe,,081234567891,,,,NaT,2024-05-27 15:11:40.604,2024-05-27 15:11:40.604,NaT,,None
22,4983781d-74e6-41da-afc1-9e9c505bd890,iyazidsyafiq@gmail.com,$2a$10$p/x2iXPfU/OsVEAV6YX.DO4..mY8lszG7rB3/ND...,mantap,Yazid Syafiq Irsyad,,081393984849,,,,2024-06-03 15:56:04.470,2024-06-03 15:55:34.204,2024-06-03 17:22:28.572,NaT,,
23,5b2b0cb2-062a-4629-9d3a-1198126978c4,testdoe@example.com,$2a$10$yF7RYWidg1D.ph7blwTWvure2zYhGghtTy/UGgB...,test,Test Doe,,08989787787,,,,NaT,2024-05-27 15:13:58.506,2024-05-27 15:13:58.506,NaT,,None
24,5dd4b7eb-3ecf-4276-aac6-424146a116db,lalalates1@gmail.com,$2a$10$gQ11XMUjXVxAQgxMBYTs9O9siwPzYMkPVl4J4n1...,lalates,Lalala tes,,089192123123,,,,NaT,2024-05-25 14:43:52.195,2024-05-25 14:43:52.195,NaT,None,None
25,64fe828e-37c0-4fd5-9038-9201b03f3b50,testauthtourease@protonmail.com,$2a$10$omYU3amLlK6seSjosmdivuvFO5OG/49azHr8fWq...,authtourease,John Doe,,081234567891,,,,2024-05-26 10:09:54.666,2024-05-26 10:06:29.105,2024-05-26 10:09:54.668,NaT,,None
26,69d63e94-8bd0-4763-b4ae-9c5310f36434,doyecad379@huleos.com,$2a$10$I8T56xWvKjdIJ23QTT3tUO8/VzAIlHjvR1WdXp3...,johndoe11,John Doe,,08129391092,,,,NaT,2024-05-26 18:08:25.505,2024-05-26 18:08:25.505,NaT,,None
27,6ba26af9-0ea4-4420-9e63-c0a5b0e9e713,ricixo22843@javnoi.com,$2a$10$204oT2pboCqiAjkQV9Lba.YK1H7IBs2UW8XL4dv...,johndoe15,John Doe,,08129391092,,,,NaT,2024-05-26 18:29:10.608,2024-05-26 18:29:10.608,NaT,,None
28,6c54113f-505c-4717-9383-e46421eabde0,test@example.com,$2a$10$EqlfPXP.ldiR.NesT5VfeODqXoy6rbhug4liXiT...,username,namalengkap,,081234567890,,,,NaT,2024-05-29 13:06:47.404,2024-06-07 04:42:21.606,NaT,,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
29,6d1deb42-eedb-40da-b366-0102cc60461a,emailemailllll@example.com,$2a$10$jXTTtfjbbPDs8BcE5i.p8ODxVRrG.fWOegyBF7V...,iamshotaa,nama_lengkap,bio,081234567890,img.jpg,pria,Jaksel,NaT,2024-06-04 16:53:48.308,2024-06-04 16:53:48.308,NaT,Jakarta,
30,76652220-2528-4ec0-9600-6b6f9c37de5b,lalates@gmail.com,$2a$10$68YTzT.pTiw4ihInIoh2tuT87YZtMNA8F.ThYMi...,tess,Lalala tes,,089192123123,,,,NaT,2024-05-25 14:41:57.305,2024-05-25 14:41:57.305,NaT,None,None
31,77a0f0af-d698-48be-ad1d-73a678ac9537,kegawel156@cgbird.com,$2a$10$HYy8HI8pen8feW.S7YNkmukouL7Y5Mt3fA8.L5N...,testverify22,John Doe,,08123456789,,,,2024-05-28 05:53:14.438,2024-05-28 05:52:02.104,2024-05-28 05:53:14.441,NaT,,None
32,7987aaff-09e8-493c-bfd6-5ffc88daae20,email5@example.com,$2a$10$U28K6uauhFfebque.cISj.z352JUBO0FzQa8D4S...,hi123,nama_lengkap,bio,081234567890,img.pdf,pria,Jaksel,NaT,2024-06-05 05:38:02.805,2024-06-05 05:38:02.805,NaT,Jakarta,
33,79b411cd-a0c4-4f63-892c-ee8643707551,leafthe78@gmail.com,$2a$10$7ifFx3zyoPk5MmRASIHQZu8Wj0S/x9.dqhM0LvA...,adit1234,adit nugroho,life,081234567890,https://res.cloudinary.com/alta-minpro/image/u...,Pria,Medan,2024-05-26 08:39:53.278,2024-05-26 08:39:24.806,2024-06-08 14:50:51.009,NaT,Sumatera Utara,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
34,958b2f69-2a6a-4106-9459-22ccc2bec799,dasetiy306@fincainc.com,$2a$10$ktMFNRRzCDKRtJ5zOSqHuOn6DaBNi2u6DedxHj5...,johndoe13,John Doe,,08129391092,,,,NaT,2024-05-26 18:22:39.706,2024-05-26 18:22:39.706,NaT,,None
35,962e273f-693c-4beb-8c9b-9cfc2f086aad,taksa@example.com,$2a$10$pXbjiAcT2MDSZwa6y8cz8.M7eUhleA0rYvgNSOq...,taksa,nama_lengkap,bio,081234567890,img.jpg,pria,Jaksel,NaT,2024-06-05 14:29:41.905,2024-06-05 14:29:41.905,NaT,Jakarta,
36,98ad0963-e402-402a-b119-f5b551242559,johndoe234@example.com,$2a$10$su5i2G6j6xSJWS/FYG/peu0B78nA7PGIMAd9nfn...,johndoe1234,John Doe,,081234567891,,,,NaT,2024-05-26 02:43:07.405,2024-05-26 02:43:07.405,NaT,None,None
37,9dcfdc94-35c3-4e63-85ec-d7cce2a0fece,baihaqi07.aa@gmail.com,$2a$10$HMEZxquxPg/A41SbDdmqEOkuhBKO3CF6exDFxJX...,eqi,Al Akbar Baihaqi,,089681754400,,,,2024-05-28 10:12:59.044,2024-05-28 10:12:19.814,2024-05-28 10:12:59.049,NaT,,None
38,a717a7f6-df55-4cec-8025-72133389be33,baihaqi08.aa@gmail.com,$2a$10$ubQ.Y8mOdFFvI41aQarv9OqmGekdsrwCv76GsPt...,eqi123,John Doe,,081234567891,,,,2024-05-30 17:53:47.385,2024-05-30 17:52:40.707,2024-06-10 06:12:53.207,NaT,,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
39,a8bddfb7-075a-4e3e-bfb0-c4a5f9d270d2,emailemail@example.com,$2a$10$FVDqS9P7FHzgMHqJofRx0./ngKcd6qpqtdMmAiL...,iamshota,nama_lengkap,bio,081234567890,img.jpg,pria,Jaksel,NaT,2024-06-04 16:29:14.907,2024-06-04 16:29:14.907,NaT,Jakarta,
40,ad004f45-3bd8-4d91-b5d5-1f4f8933bbd4,caelus@example.com,$2a$10$GK40r9YPTbio5yMHBN36.eLqlC8QUIRUSDGzEnL...,caelus,nama_lengkap,bio,081234567890,img.pdf,pria,Jaksel,NaT,2024-06-05 14:31:02.413,2024-06-05 14:31:02.413,NaT,Jakarta,
41,b04d8ca9-b42b-40fb-a40b-a26fdc4ff53e,yatopi7449@cgbird.com,$2a$10$wBdz2axgGvD0edjY6XKj4./j4zFJyPvc/tPXlV9...,testotp1,testotp,,08123230411,,,,2024-05-28 07:49:11.537,2024-05-28 07:48:18.906,2024-05-28 07:49:11.539,NaT,,None
42,b2bc4508-ca32-4d9c-9a71-afd276e3e489,johndoe18@gmail.com,$2a$10$T2/B0A3w0zX/4gnaQJEWO.HO7aUE.oUN5EnjNXL...,johndoe18,John Doe,,08129391092,,,,NaT,2024-05-26 18:41:09.511,2024-05-26 18:41:09.511,NaT,,None
43,b988b5b6-75e2-469b-a49d-a15d1e1f3e14,miyiro7659@cgbird.com,$2a$10$KW39EqxIXw6Q.0b7NZ8fS.kbOH9ySMIVEomykEI...,testverify20,John Doe,,08123456678,,,,NaT,2024-05-27 16:12:16.405,2024-05-27 16:12:16.405,NaT,,None
44,bf45bf4c-ab92-4f3d-94b9-081d63e5f046,ricixo2284@javnoi.com,$2a$10$gE5FqsWamWOo6T0E2ZDpyO5jNu.CTJEzZkCbC.U...,johndoe14,John Doe,,08129391092,,,,NaT,2024-05-26 18:27:30.605,2024-05-26 18:27:30.605,NaT,,None
45,c941770f-6bac-48e7-8e2e-ac2b7b41912c,wirarespatium@gmail.com,$2a$10$ybHPjymY6M8W3xIfTQxHQu.tPDmfj.0o2SOgVZR...,wir,Wira Respati,Human,081234545464,https://res.cloudinary.com/alta-minpro/image/u...,Pria,Balikpapan,2024-05-30 09:40:12.195,2024-05-27 15:17:47.607,2024-06-10 07:14:16.561,NaT,Kalimantan Timur,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
46,cb3557b2-f9a7-40c8-87b2-b9b86d32d4f1,dedawo5378@fincainc.com,$2a$10$PzsqWhTLvJKVOpfKy8M6JuxiigUZ3iGIh3Cuamz...,johndoe10,John Doe,,08129391092,,,,NaT,2024-05-26 18:14:03.798,2024-05-26 18:14:03.798,NaT,,None
47,ce23611c-4cd4-4e2e-ae46-6e8dcbb529c8,email3@example.com,$2a$10$Z9rKyxUiK4a5iJgbbYEKTu0yiiR3GEW6n6nk2he...,contoh,nama_lengkap,bio,081234567890,img.pdf,pria,Jaksel,NaT,2024-06-02 12:46:44.608,2024-06-02 12:46:44.608,NaT,Jakarta,
48,cf21f1af-b615-4ab1-9526-b3afa626080a,baihaqi06.aa@gmail.com,$2a$10$nMExQv899eQlAxDvq5K2UuCAjCcqmfj9gORx4ZW...,eqiw,eqiwiw,,089681754400,None,,,2024-06-06 13:57:06.981,2024-06-06 13:54:36.005,2024-06-06 13:58:34.604,NaT,,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
49,cfe99df8-5959-4c23-b609-a0c7d221f28b,johndoe@example.com,$2a$10$uEHJQyT8pIoA9mygPROnaO/.LXB7Ywf6sp2QU/4...,johndoe,John Doe,,081234567891,,,,NaT,2024-05-25 13:36:40.604,2024-06-08 02:31:37.808,NaT,,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6I...
50,d134e6e7-5852-4ac0-9909-273a028593f6,email45@example.com,$2a$10$WL1jb7kxx.PfvgkpZc7LYuRjgRRLuO2hkQayKaI...,hi1234,nama_lengkap,bio,081234567890,img.docx,pria,Jaksel,NaT,2024-06-05 05:44:53.504,2024-06-05 05:44:53.504,NaT,Jakarta,
51,d3147562-84b4-4655-9c01-bc9ee1e5f21a,johndoe17@gmail.com,$2a$10$20IP5DPOvIAw1GwuhPIv1.7Bo7.BwN0LQXZ0.hD...,johndoe17,John Doe,,08129391092,,,,NaT,2024-05-26 18:39:24.104,2024-05-26 18:39:24.104,NaT,,None
52,d8844a3a-7564-481d-9101-58cd9648e04a,bikiko164322@huleos.com,$2a$10$OmjIGZ3io5qbt.n90rsaUeX0S3qDP5wcEo8N7Jy...,testverify6,John Doe,,081234567891,,,,NaT,2024-05-27 14:13:01.304,2024-05-27 14:13:01.304,NaT,,None
53,e0d10bee-0763-4928-bb6b-33ec72b42497,johndoe4@example.com,$2a$10$rGoO8RB4tVPD3PQdb1h0zOtaSf/2Z45FieEpbX5...,johndoe1,John Doe,,081234567891,,,,NaT,2024-05-25 15:11:37.117,2024-05-25 15:11:37.117,NaT,None,None
54,e5075127-c4ef-4b6d-9500-6ed8b5451700,bikiko3642@huleos.com,$2a$10$8Rc.J56zeyz20lzxrsN1teXRV8tZdXuynmlU0XB...,testverify,John Doe,,081234567891,,,,NaT,2024-05-27 14:01:15.609,2024-05-27 14:01:15.609,NaT,,None
55,e96f698e-3b3c-43c9-86c0-9155ff904d9a,sekoda6047@fincainc.com,$2a$10$Zbtl6HdEhH0dig7o5A40keV/NbX2FNV/xp0hzGo...,johndoe12,John Doe,,08129391092,,,,NaT,2024-05-26 18:19:29.305,2024-05-26 18:19:29.305,NaT,,None
56,f28238c8-60d3-45a9-bf4e-9a943404b522,bikiko364322@huleos.com,$2a$10$n.4CcS5A.5XMkVzHxF/7OuI8eSW66uc2rCZSRS/...,testverify2,John Doe,,081234567891,,,,NaT,2024-05-27 14:08:36.004,2024-05-27 14:08:36.004,NaT,,None
57,f7d300f4-ea64-419c-b89d-20dac2b1f219,midow49158@cgbird.com,$2a$10$0ALqVDiocRHbb2cf9G2qeOIS.YhdoKGfg//oDu1...,testverify24,John Doe,,08380182312,,,,2024-05-28 06:47:52.148,2024-05-28 06:46:26.906,2024-05-28 06:47:52.150,NaT,,None
58,f920fdbb-0250-4c93-9556-47e3bab0e337,bikiko364312@huleos.com,$2a$10$.FKubUMci00v1frZk5.q9e.R74d4v4mlTG.6V/v...,testverify4,John Doe,,081234567891,,,,NaT,2024-05-27 14:11:13.805,2024-05-27 14:11:13.805,NaT,,None
59,fc9e86d9-e3ba-42eb-a46c-16ba07dfeb74,tajoli5069@javnoi.com,$2a$10$D5rUZTz5z2SkdRJMeogJLODp2Xp9kHSLTVtNTrC...,testverfiy25,Test Verify,,08123456789,,,,2024-05-28 07:16:51.573,2024-05-28 07:16:28.803,2024-05-28 07:16:51.576,NaT,,None

#### 4.6 Closing connection

In [10]:
conn_rds.close()

### 5. Transformation

#### 5.1 Selecting subset of each dataframe

In [11]:
dim_destinations = destinations_df[['name', 'description', 'open_time', 'close_time', 'entry_price', 'longitude', 'latitude', 'visit_count']]
dim_routes = routes_df[['name', 'start_longitude', 'start_latitude', 'price']]
dim_route_details = route_details_df[['longitude', 'latitude', 'duration', 'order', 'visit_start', 'visit_end']]
dim_users = users_df[['email', 'username', 'fullname', 'phone_number', 'gender', 'city', 'province']]

#### 5.2 destinations dimension

In [12]:
dim_destinations

,name,description,open_time,close_time,entry_price,longitude,latitude,visit_count
0,Kawah Ijen,Kawah Ijen adalah sebuah kompleks gunung berap...,08:00,17:00,100000.0,114.2423,-8.0582,23
1,Candi Borobudur,Candi Borobudur adalah sebuah candi Buddha yan...,08:00,17:00,50000.0,110.2038,-7.6079,4
2,Pantai Kuta,Pantai Kuta adalah salah satu pantai yang terk...,08:00,17:00,0.0,115.1675,-8.7174,1
3,Danau Toba,Danau Toba adalah danau terbesar di Indonesia ...,08:00,17:00,0.0,99.0852,2.6696,0
4,Taman Mini Indonesia Indah,Taman Mini Indonesia Indah adalah sebuah taman...,08:00,17:00,20000.0,106.8956,-6.3027,2
5,Gunung Bromo,Gunung Bromo adalah sebuah gunung berapi aktif...,08:00,17:00,30000.0,112.9528,-7.9425,1
6,Goa Pindul,Gua tempat Joko terbentur tersebut dinamai Gua...,08:00,17:00,25000.0,123.4560,456.7890,1
7,Pulau Komodo,Pulau Komodo adalah sebuah pulau yang terletak...,08:00,17:00,150000.0,119.4986,-8.5833,0
8,Raja Ampat,Raja Ampat adalah kepulauan yang terletak di b...,08:00,17:00,500000.0,130.5036,-1.0562,1
9,Tanah Lot,Tanah Lot adalah sebuah formasi batuan di lepa...,08:00,17:00,20000.0,115.0865,-8.6211,0

#### 5.3 routes dimension

In [13]:
dim_routes

     name  start_longitude  start_latitude    price
0  Rute 1         3.105625       97.394489  50000.0
1  Rute 2         3.105625       97.394489  50000.0

#### 5.4 route_details dimension

In [14]:
dim_route_details['visit_start'] = dim_route_details['visit_start'].astype(str)
dim_route_details['visit_end'] = dim_route_details['visit_end'].astype(str)
dim_route_details

C:\Users\MATRIX COMPUTER\AppData\Local\Temp\ipykernel_31308\476546220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_route_details['visit_start'] = dim_route_details['visit_start'].astype(str)
C:\Users\MATRIX COMPUTER\AppData\Local\Temp\ipykernel_31308\476546220.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_route_details['visit_end'] = dim_route_details['visit_end'].astype(str)

   longitude  latitude  duration  order      visit_start        visit_end
0   114.2423   -8.0582      3600      1  0 days 09:00:00  0 days 11:00:00
1   114.2423   -8.0582      3600      1  0 days 09:00:00  0 days 11:00:00
2   114.2423   -8.0582      3600      1  0 days 09:00:00  0 days 11:00:00

#### 5.5 users dimension

In [15]:
dim_users

,email,username,fullname,phone_number,gender,city,province
0,xifihi49190@huleos.com,testverify10,John Doe,081234567891,,,
1,irsyadyazidsyafiq@gmail.com,yazid.syafiq,Yazid Syafiq Irsyad,081393984849,,,
2,shuuuuuuu@example.com,paimon,nama_lengkap,081234567890,pria,Jaksel,Jakarta
3,johndoe2345@example.com,johndoe2443,John Doe,081234567891,,,None
4,johndoe100@example.com,johndoe100,John Doe,081234567891,,,
5,demex95935@cgbird.com,testverify21,John Doe,08123456790,,,
6,bikiko364222@huleos.com,testverify1,John Doe,081234567891,,,
7,xifihi4990@huleos.com,testverify9,John Doe,081234567891,,,
8,johndoe16@gmail.com,johndoe16,John Doe,08129391092,,,
9,,,,,,,
10,johndoe19@example.com,johndoe19,John Doe,081234567891,,,
11,rafyshahvalorant@gmail.com,rafy,Rafy,08123456789,,,
12,bikiko164312@huleos.com,testverify5,John Doe,081234567891,,,
13,jijig89558@javnoi.com,johndoe12345,John Doe,08129391092,,,
14,aditn689@gmail.com,aditn,adit nugroho,081234567890,,,None
15,testotp@gmail.com,testotp,testotp,08123230411,,,
16,xojoce2367@javnoi.com,testverify23,John Doe,08123456789,,,
17,disav55623@fincainc.com,testverify7,John Doe,081234567891,,,
18,johndoe4@mail.com,johndoe77,John Doe,081234567891,,,None
19,nafidinara@gmail.com,nafidinara,John Doe,081234567891,,,
20,nasipwadang4@gmail.com,padangan,nasi padanag,089681754400,,,
21,johndoe22@example.com,johndoe20,John Doe,081234567891,,,
22,iyazidsyafiq@gmail.com,mantap,Yazid Syafiq Irsyad,081393984849,,,
23,testdoe@example.com,test,Test Doe,08989787787,,,
24,lalalates1@gmail.com,lalates,Lalala tes,089192123123,,,None
25,testauthtourease@protonmail.com,authtourease,John Doe,081234567891,,,
26,doyecad379@huleos.com,johndoe11,John Doe,08129391092,,,
27,ricixo22843@javnoi.com,johndoe15,John Doe,08129391092,,,
28,test@example.com,username,namalengkap,081234567890,,,
29,emailemailllll@example.com,iamshotaa,nama_lengkap,081234567890,pria,Jaksel,Jakarta
30,lalates@gmail.com,tess,Lalala tes,089192123123,,,None
31,kegawel156@cgbird.com,testverify22,John Doe,08123456789,,,
32,email5@example.com,hi123,nama_lengkap,081234567890,pria,Jaksel,Jakarta
33,leafthe78@gmail.com,adit1234,adit nugroho,081234567890,Pria,Medan,Sumatera Utara
34,dasetiy306@fincainc.com,johndoe13,John Doe,08129391092,,,
35,taksa@example.com,taksa,nama_lengkap,081234567890,pria,Jaksel,Jakarta
36,johndoe234@example.com,johndoe1234,John Doe,081234567891,,,None
37,baihaqi07.aa@gmail.com,eqi,Al Akbar Baihaqi,089681754400,,,
38,baihaqi08.aa@gmail.com,eqi123,John Doe,081234567891,,,
39,emailemail@example.com,iamshota,nama_lengkap,081234567890,pria,Jaksel,Jakarta
40,caelus@example.com,caelus,nama_lengkap,081234567890,pria,Jaksel,Jakarta
41,yatopi7449@cgbird.com,testotp1,testotp,08123230411,,,
42,johndoe18@gmail.com,johndoe18,John Doe,08129391092,,,
43,miyiro7659@cgbird.com,testverify20,John Doe,08123456678,,,
44,ricixo2284@javnoi.com,johndoe14,John Doe,08129391092,,,
45,wirarespatium@gmail.com,wir,Wira Respati,081234545464,Pria,Balikpapan,Kalimantan Timur
46,dedawo5378@fincainc.com,johndoe10,John Doe,08129391092,,,
47,email3@example.com,contoh,nama_lengkap,081234567890,pria,Jaksel,Jakarta
48,baihaqi06.aa@gmail.com,eqiw,eqiwiw,089681754400,,,
49,johndoe@example.com,johndoe,John Doe,081234567891,,,
50,email45@example.com,hi1234,nama_lengkap,081234567890,pria,Jaksel,Jakarta
51,johndoe17@gmail.com,johndoe17,John Doe,08129391092,,,
52,bikiko164322@huleos.com,testverify6,John Doe,081234567891,,,
53,johndoe4@example.com,johndoe1,John Doe,081234567891,,,None
54,bikiko3642@huleos.com,testverify,John Doe,081234567891,,,
55,sekoda6047@fincainc.com,johndoe12,John Doe,08129391092,,,
56,bikiko364322@huleos.com,testverify2,John Doe,081234567891,,,
57,midow49158@cgbird.com,testverify24,John Doe,08380182312,,,
58,bikiko364312@huleos.com,testverify4,John Doe,081234567891,,,
59,tajoli5069@javnoi.com,testverfiy25,Test Verify,08123456789,,,

#### 5.6 dim_times

In [16]:
# set seed for reproducibility
np.random.seed(42)

# generate random dates within the specified range
n_samples = 50
start_date = pd.Timestamp('2023-01-01')
end_date = pd.Timestamp('2025-12-31')
date_range = pd.date_range(start_date, end_date)

# randomly sample dates
random_dates = np.random.choice(date_range, n_samples)
random_dates = pd.to_datetime(random_dates)

dim_times = pd.DataFrame({
   'time_id': range(1, n_samples + 1),
   'tahun': random_dates.year.astype(str),
   'bulan': random_dates.month.astype(str).str.zfill(2),
   'tanggal': random_dates.day.astype(str).str.zfill(2),
   'tanggallengkap': random_dates
})

dim_times.head()

   time_id tahun bulan tanggal tanggallengkap
0        1  2025    05      10     2025-05-10
1        2  2025    12      31     2025-12-31
2        3  2025    11      10     2025-11-10
3        4  2023    05      02     2023-05-02
4        5  2024    04      11     2024-04-11

### 6. Load to Big Query

In [17]:
def load_to_gbq(credentials, project_id, dataset_id, table_names, dataframes):
   for df, table_name in zip(dataframes, table_names):
      table_full_id = f'{project_id}.{dataset_id}.{table_name}'
      to_gbq(df, table_full_id, project_id=project_id, if_exists='replace', credentials=credentials)
      print(f'Table {table_name} loaded successfully!')

In [18]:
credentials = service_account.Credentials.from_service_account_file(google_application_credentials)

dfs = [dim_destinations, dim_routes, dim_route_details, dim_users, dim_times]
tables = ['dim_destinations', 'dim_routes', 'dim_route_details', 'dim_users', 'dim_times']

load_to_gbq(credentials, project_id, dataset_id, tables, dfs)

100%|| 1/1 [00:00<?, ?it/s]

Table dim_destinations loaded successfully!

100%|| 1/1 [00:00<?, ?it/s]

Table dim_routes loaded successfully!

100%|| 1/1 [00:00<?, ?it/s]

Table dim_route_details loaded successfully!

100%|| 1/1 [00:00<?, ?it/s]

Table dim_users loaded successfully!

100%|| 1/1 [00:00<?, ?it/s]

Table dim_times loaded successfully!